@{
    ViewData["Title"] = "Dashborad";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal Portfolio Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts & Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/StyleSheet1.css">
</head>
<body>

    <div class="container">

        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>PORTFOLIO</h2>
            <div class="profile">
                <div class="avatar"></div>
                <p></p>
            </div>

            <ul>
                <li class="active">Dashboard</li>
                <li>Projects</li>
                <li>Skills</li>
                <li>Contact</li>
            </ul>
        </aside>

        <!-- Main -->
        <main class="main">

            <header>
                <h1>Personal Dashboard</h1>
            </header>

            <!-- Charts -->
            <div class="charts">
                <canvas id="lineChart"></canvas>
                <canvas id="pieChart"></canvas>
            </div>

            <!-- Cards -->
            <div class="cards">
                <div class="card">$4200 <span>Revenue</span></div>
                <div class="card">$3,314 <span>Projects</span></div>
                <div class="card">$17,210 <span>Clients</span></div>
                <div class="card">$1,292 <span>Growth</span></div>
            </div>

            <!-- Skills -->
            <div class="skills">
                <h2>Skills</h2>

                <div class="bar">
                    <p>Frontend</p>
                    <div class="progress"><span style="width:50%"></span></div>
                </div>

                <div class="bar">
                    <p>Backend</p>
                    <div class="progress"><span style="width:75%"></span></div>
                </div>

                <div class="bar">
                    <p>Database</p>
                    <div class="progress"><span style="width:75%"></span></div>
                </div>

            </div>

        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1"></script>
    <script src="~/js/boardscript.js"></script>
</body>
</html>